/target
**/*.rs.bk
/docs
/data

keyconfig*.yml
keymap.json
keymap.backup.json

# Local Netlify folder
.netlify

/ronald-egui/assets/keys/examples
/ronald-egui/dist
/ronald-egui/tests/snapshots/*.old.png
/ronald-egui/tests/snapshots/*.new.png
/ronald-egui/tests/snapshots/*.diff.png

CLAUDE.md
